*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img,
svg,
video {
  display: block;
  max-width: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}
button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}
fieldset {
  min-width: 0;
  margin: 0;
  border: 0;
}
[hidden] {
  display: none !important;
}

.leaflet-container img,
.leaflet-container svg {
  max-width: none !important;
  max-height: none !important;
}
.leaflet-container .leaflet-marker-icon,
.leaflet-container .leaflet-tile {
  display: block;
}
